/*NEW*/
.wd-dashboard-column {
    width: 90%;
    height: 100%;
    margin-left: 110px;
    overflow: hidden;
}
.wd-dashboard-h1 {
    color: grey;
}
.wd-dashboard-card {
    width: 250px;
    height: 250px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 5px;
    /*
    box-shadow: 0 1px 1px black;
    */
    outline: 2px black;

}
.wd-dashboard-card-img {
    height: 140px;
    min-height: 140px;
    width: 210px;
    margin: 1px 1px 1px;
    background-color: cornflowerblue;
}
.wd-dashboard-card-a {
    font-size: 14px;
    margin: 2px;
    color: cornflowerblue;
    text-decoration: none;
}
.wd-dashboard-card-a:hover {
    text-decoration: underline #bf0f0f;
    color: cornflowerblue;

}
.wd-dashboard-card-body {
    padding: 5px;
}
.wd-dashboard-card-body-p{
    color: grey;
}

.pj-navbar-background {
    background-color: #63e6be;
}

.pj-navbar-font {
    color: #183153;
    font-size: medium;

}

.pj-navbar-font-title {
    color: #183153;
    font-size: larger;
}

.pj-recipe-nutrition {
    background-color: #f5f6ea;
}

li {
    color: #e7ab46;
}

li span{
    color: black;
}

a {
    color: black;
}

.black-font {
    color: #183153;
    text-decoration-color: black;
}

.nav-tabs .nav-link {
    color: #183153;

}

.nav-tabs .nav-link:hover {
    color: #183153;
}


/*body, html {
    height: 100%;
    margin: 0;
}
.wd-column {
    min-height: 100%;
    float: left;
    padding-top: 20px;
    display: inline-block;
    white-space: nowrap;


}*/
